.footer {
    color: #887;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-circle {
    border-radius: 20px;
}

.flex-block {
    display: flex;
    flex-wrap: nowrap;
}

.block {
    background-color: lightgray;
    border-radius: 5px;
    margin: 0px 10px;
    height: 100%;
    width: 270px;
    overflow: hidden;
}

.block .block-title {
    display: block;
    padding-right: 7px;
}

.block .block-title h4 {
    line-height: 35px;
    padding-left: 15px;
}
.block .block-title a {
    text-decoration: none;
    color: #000;
    position: relative;
    top: -50px;
    transition: .2s;
    opacity: .1;
}
.block .block-title a:hover {
    color: #D9534F;
    opacity: 1;
}

.card-block a {
    color: #000;
    text-decoration: none;
    top: -12px;
    right: -6px;
    transition: .2s;
    opacity: .1;
}

.card-block a:hover {
    color: #D9534F;
    opacity: 1;
}

.block .card {
    width: 250px;
    background-color: white;
    margin: 10px;
    padding: 0px 10px 5px 10px;
    box-shadow: 1px 1px 3px #000;
    border-radius: 5px;
}

.flex-block .card-text {
    padding-top: 5px;
}

.flex-block .new {
    opacity: .5;
}
#myModal7 input {
    margin: 15px 0px;
}

#main {
    margin-top: 60px;
    margin-bottom: 90px;
}

.card textarea {
    outline: none;
    border: none;
    resize: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    ;
}

.open > ul > li.desklist {
    display: inline-flex;
}