<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Desks<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="desklist" *ngFor="let item of _demoService.desks2; let ndx = index">
                <a (click)="selectDesk(item, ndx)">{{item.deskName}}</a><a class="glyphicon glyphicon-remove" (click)="removeDesk(ndx)"></a>
            </li>
            <li class="divider"></li>
            <li data-toggle="modal" data-target="#myModal7"><a>Create a new Desk...</a></li>
        </ul>
    </li>
    <li><a [routerLink]="['About']">About</a></li>
    <li><a [routerLink]="['Features']">Features</a></li>
    <li>
        <button type="button" class="btn btn-success navbar-btn btn-circle">Sign in</button>
    </li>
</ul>