<div class="flex-block" *ngIf="desk" >
    <div class="block" *ngFor="let list of desk['deskData']">
        <div class="block-title">
            <h4>{{list.nameList}}</h4>
        </div>
        <div *ngFor="let item of list.listCard">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">{{item.textCard}}</p>
                </div>
            </div>
        </div>
        <div class="text-center">
                <a (click)="addCard('qwwq')">Add new card...</a>
        </div>
    </div>
</div>